
VITE_CLOUDINARY_CLOUD_NAME = "dd3vx5plj"
VITE_CLOUDINARY_CLOUD_API_KEY = "627174559212957"
VITE_CLOUDINARY_CLOUD_API_SECRET = "gLCe4lXC3TWy8LPn_l20JfW-zwE"
VITE_CLOUDINARY_UPLOAD_PRESET = "zosh-bazaar"